<b2b-header>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mo-tit-section">
          <h4>
            <span class="lnr lnr-bookmark"></span>
            <span i18n="@@my">My</span>
            <strong i18n="@@booking">Bookings</strong>
          </h4>
          <h5 i18n="@@title-accomodations">Choose from more than 500,000 accommodations. We are present in ALL countries of the world!</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="iso-deco-triangles"></div>
</b2b-header>

<div class="container">
  <form class="fm-smy my-book" [formGroup]="myBookingForm">
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4" [hidden]="configInputsHidden">
        <b2b-client-selector></b2b-client-selector>
      </div>
      <div class="col-md-8" [hidden]="configInputsHidden">
        <b2b-supplier-accesses (accessesToSearchOutput)="saveAccessesToSearch($event)"></b2b-supplier-accesses>
      </div>
      <div class="col-md-2">
        <label>
          <span i18n="@@supplier">Search type</span>:</label>
        <select class="form-control" formControlName="typeSearch">
          <option *ngFor="let type of bookingCriteriaTypeArray" [value]="type.value">{{type.name}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <b2b-language-selector [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"></b2b-language-selector>
      </div>
      <ng-container class="align-items-end" *ngIf="myBookingForm.controls['typeSearch'].value === bookingCriteriaType.REFERENCES"
        formGroupName="references">
        <ng-container formGroupName="references">
          <div class="col-md-2">
            <div class="form-group">
              <label>
                <span i18n="@@supplier-reference">Supplier reference</span>:
                <a class="tip" data-toggle="tooltip" data-placement="top">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
              </label>
              <input type="text" class="bordered form-control" placeholder="Ej: 213832WC212K" formControlName="supplier">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>
                <span i18n="@@client-reference">Client reference</span>:
                <a class="tip" data-toggle="tooltip" data-placement="top">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
              </label>
              <input type="text" class="bordered form-control" placeholder="Ej: 213832WC212K" formControlName="client">
            </div>
          </div>
        </ng-container>
        <div class="col-md-2">
          <div class="form-group">
            <label>
              <span i18n="@@hotel-code">Hotel code:</span>
              <a class="tip" data-toggle="tooltip" data-placement="top">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
              </a>
            </label>
            <input type="text" class="bordered form-control" placeholder="Ej: 213832WC212K" formControlName="hotelCode">
          </div>
        </div>
        <div class="col-md-2">
          <b2b-currency-selector [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"></b2b-currency-selector>
        </div>

      </ng-container>
      <ng-container *ngIf="myBookingForm.controls['typeSearch'].value === bookingCriteriaType.DATES" formGroupName="dates">
        <div class="col-md-2">
          <label>
            <span i18n="@@supplier">Date type</span>:</label>
          <select class="form-control" formControlName="dateType">
            <option *ngFor="let type of bookingCriteriaDateTypeArray" [value]="type.value">{{type.name}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label i18n="@@by-dates">Start date:</label>
            <input style="background-color: white;" class="form-control" placeholder="YYYY-MM-DD" formControlName="start" ngbDatepicker
              #sToggle="ngbDatepicker" (click)="sToggle.toggle(); eToggle.close();$event.stopPropagation()" (close)="eToggle.open()"
              (document:click)="decideIfClose($event, sToggle)" readonly>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>End date:</label>
            <input style="background-color: white;" class="form-control" placeholder="YYYY-MM-DD" [minDate]="myBookingForm.controls['dates'].controls['start'].value"
              formControlName="end" ngbDatepicker #eToggle="ngbDatepicker" (document:click)="decideIfClose($event, eToggle)"
              (click)="eToggle.toggle(); sToggle.close();$event.stopPropagation()" readonly>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
  <div class="row">

    <div class="col-md-3 offset-md-7" style="padding-top:2%">
      <div *ngIf="bookings">
        <button class="btn btn-sm btn-info smy" (click)="showRequest()" i18n="@@show-request">Show RQ</button>
        <button class="btn btn-sm btn-info smy ml-10" (click)="showResponse()" i18n="@@show-response" style="margin-left: 10px">Show RS</button>
      </div>
    </div>
    <div class="col-md-2" *ngIf="myBookingForm.controls['typeSearch'].value === bookingCriteriaType.REFERENCES">
      <div class="form-group">
        <label></label>
        <a class="btn btn-primary smy-bordered btn-block disabled" *ngIf="!accessesToSearch || accessesToSearch.length === 0 || !client || !myBookingForm.valid; else searchReference"
          i18n="@@search">Search</a>
        <ng-template #searchReference>
          <a class="btn btn-primary smy-bordered btn-block" i18n="@@search" (click)="searchByReference(myBookingForm.value)">Search</a>
        </ng-template>
      </div>
    </div>
    <div class="col-md-2" *ngIf="myBookingForm.controls['typeSearch'].value === bookingCriteriaType.DATES">
      <div class="form-group">
        <label></label>
        <a class="btn btn-primary smy-bordered btn-block disabled" *ngIf="!accessesToSearch || accessesToSearch.length === 0 || !client || !myBookingForm.valid; else searchDates"
          i18n="@@search">Search</a>
        <ng-template #searchDates>
          <a class="btn btn-primary smy-bordered btn-block" i18n="@@search" (click)="searchByDate(myBookingForm.value)">Search</a>
        </ng-template>
      </div>
    </div>

  </div>
  <b2b-alert-dropdown *ngIf="!loading" [errors]="errors" [warnings]="warnings"></b2b-alert-dropdown>

  <b2b-my-bookings-table [bookings]="bookings" [boards]="boards" [client]="client" [criteriaBooking]="criteriaBooking"></b2b-my-bookings-table>
  <div class="row">
    <div class="col-md-1 col-centered">
      <i class="fa fa-spinner fa-spin" style="font-size:36px;" *ngIf="loading"></i>
    </div>
  </div>
</div>
