<b2b-header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="mo-tit-section">
          <h4><span class="lnr lnr-magnifier"></span><strong i18n="@@availability"> Availability</strong><span i18n="@@request">
              request</span></h4>
          <h5 i18n="@@title-accomodations">Choose from more than 500,000 accommodations. We are present in ALL countries
            of the world.</h5>
        </div>
        <b2b-availability [bordered]="'false'" (output)="onSearch($event)"></b2b-availability>
      </div>
      <!-- <div class="col-md-5">
        <div class="mo-tit-section">
          <h4><span class="lnr lnr-bookmark"></span> Your <strong>bookings</strong></h4>
          <h5>Search for locator among all your reservations.</h5>
        </div>
        <b2b-bookings [bordered]="'false'"></b2b-bookings>
      </div> -->
    </div>
  </div>
  <div class="iso-deco-triangles"></div>
</b2b-header>
<b2b-footer></b2b-footer>
