<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <span i18n="@@supplier">Supplier</span>:</label>
      <select class="form-control" [(ngModel)]="supplierSelected" name="supplierSelected" (change)=onSupplierSelected() [disabled]="!suppliers || suppliers.length === 0">
        <option *ngFor="let supplier of suppliers" [value]="supplier.code">{{supplier.name}}</option>
      </select>
      <p *ngIf="showErrorSuppliers" i18n="@@no-suppliers">There aren't suppliers available</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <span i18n="@@accesses">Accesses</span>:</label>
      <select class="form-control" [(ngModel)]="accessesSelected" name="accessesSelected" (ngModelChange)=onAccessSelected($event)
        [disabled]="!accesses || accesses.length === 0">
        <option *ngFor="let access of accesses" [value]="access.code">{{access.name}}</option>
      </select>
      <p *ngIf="supplierSelected && (!accesses || accesses.length === 0)">There aren't accesses available</p>
    </div>
  </div>
  <!-- <div class="col-md-6">
    <div class="form-group">
      <label>
        <span i18n="@@accesses">Accesses</span>:</label>
      <div>
        <p-multiSelect [options]="accesses" [(ngModel)]="accessesSelected" optionLabel="name" name="accessesSelected" [disabled]="!accesses || accesses.length === 0"></p-multiSelect>
      </div>
    </div>
  </div> -->
</div>
