<div class="row">
  <div class="col">
    <div class="mo-my-bookings">
      <table class="tb-rooms table table-hover">
        <thead>
          <tr>
            <th i18n="@@booking-day">Booking day</th>
            <th i18n="@@hotel">Hotel</th>
            <th i18n="@@rooms">Rooms</th>
            <th i18n="@@mealplan">Mealplan</th>
            <th i18n="@@no-expenses-until">No expenses until</th>
            <th i18n="@@status">Status</th>
            <th i18n="@@price">Price</th>
            <th i18n="@@client-reference">Client reference</th>
            <th i18n="@@supplier-reference">Supplier reference</th>
            <th class="text-right" i18n="@@options">Options</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let booking of bookings">
            <tr>
              <td>{{booking?.hotel?.creationDate}}</td>
              <td>
                <p class="hotelname">{{booking?.hotel?.hotelName}}</p>
                <!-- TODO check and i18n -->
                <p class="compo">Del {{booking?.hotel?.checkIn}} al {{booking?.hotel?.checkOut}}</p>
              </td>
              <!-- TODO check and i18n -->
              <td *ngIf="booking.hotel.rooms; else noRooms" style="white-space: nowrap;">{{booking?.hotel?.rooms?.length}}
                <span i18n="@@my-bookings-room-plural">room</span>
                <span class="tip" data-toggle="tooltip" data-placement="top" [title]="formatTitle(booking.hotel.rooms)">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>
              </td>
              <ng-template #noRooms>
                <td></td>
              </ng-template>
              <td>{{booking?.hotel?.boardCode | mealplan : boards}}</td>
              <td *ngIf="booking?.cancelPolicy?.cancelPenalties | getMax; else noOptions; let maxOption" (click)="openCancelPolicyModal(booking?.cancelPolicy?.cancelPenalties)">
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" i18n-title="@@penalty-tooltip"
                  title="Click to see penalty list"></i>
                {{(maxOption | mainPenalty : ngbDateMomentParserFormatter.parse(booking.hotel.checkIn)) | dateFormat:environment.organization.dateFormat}}
                | {{maxOption.value | number : '1.2-2'}} {{maxOption.currency}}
              </td>
              <ng-template #noOptions>
                <td></td>
              </ng-template>
              <td>
                <span [class]="'iso-status ' + booking.status.toLowerCase()">{{booking.status}}</span>
              </td>
              <td class="price" style="white-space: nowrap;">
                <a (click)="openBindingModal(booking.price)" class="tip" data-toggle="tooltip" data-placement="top" title="">{{booking.price.net.toFixed(2)}} {{booking.price.currency}}</a>
              </td>
              <td>{{booking.reference.client}}</td>
              <td>{{booking.reference.supplier}}</td>
              <td class="text-right" style="white-space: nowrap;">
                <p class="cancel">
                  <a *ngIf="booking.status.toLowerCase() !== 'cancelled'" i18n="@@cancel" (click)="onCancel(booking)">Cancel</a>
                </p>
                <button *ngIf="booking.showMoreOptions" class="btn btn-sm btn-info smy" (click)="showRequest(booking)">RQ</button>
                <button *ngIf="booking.showMoreOptions" class="btn btn-sm btn-info smy ml-10 mt-10" (click)="showResponse(booking)">RS</button>
              </td>
            </tr>
            <tr *ngFor="let error of booking['errors']">
              <td [colSpan]="calcWidth()">
                <b2b-simple-alert *ngFor="let error of booking['errors']" [title]="'Error (' + error.type + ') ' + error.code" [type]="'error'"
                  [message]="error.description"></b2b-simple-alert>
              </td>
            </tr>
            <tr *ngFor="let waring of booking['warnings']">
              <td [colSpan]="calcWidth()">
                <b2b-simple-alert *ngFor="let warning of booking['warnings']" [title]="'Warning (' + warning.type + ') ' + warning.code"
                  [type]="'warning'" [message]="warning.description"></b2b-simple-alert>
              </td>
            </tr>
            <tr>
              <td [colSpan]="calcWidth()" class="noHover">
                <b2b-simple-alert *ngIf="booking.cancelImport" [title]="'Cancel import'" [type]="'info'" [message]="' ' + booking.cancelImport"></b2b-simple-alert>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- .mo-my-bookings -->
  </div>
</div>
<div class="row">
  <ng-container *ngIf="bookings && bookings.length === 0">
    <div class="mo-no-results">
      <p i18n="@@no-results">It seems we have no results for this request.</p>
    </div>
  </ng-container>
</div>
