<div class="row">
  <div class="col">
    <div class="mo-my-bookings">
      <table class="tb-rooms table table-hover">
        <thead>
          <tr>
            <th i18n="@@hotel-code">Hotel code</th>
            <th i18n="@@hotel-name">Hotel name</th>
            <th>Check in</th>
            <th>Check out</th>
            <th i18n="@@booking-date">Booking date</th>
            <th i18n="@@status">Status</th>
            <th i18n="@@supplier-reference">Supplier reference</th>
            <th i18n="@@client-reference">Client reference</th>
            <th i18n="@@rooms">Rooms</th>
            <th i18n="@@price">Price</th>
            <th class="text-right" i18n="@@options">Options</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let booking of bookings">
            <tr>
              <td>{{booking?.hotel?.hotelCode}}</td>
              <td>{{booking?.hotel?.hotelName}}</td>
              <td>{{booking?.hotel?.checkIn}}</td>
              <td>{{booking?.hotel?.checkOut}}</td>
              <td>{{booking?.hotel?.creationDate}}</td>
              <td>
                <span [class]="'iso-status ' + booking.status.toLowerCase()">{{booking.status | status}}</span>
              </td>
              <td>{{booking?.reference?.supplier}}</td>
              <td>{{booking?.reference?.client}}</td>
              <td>{{booking?.hotel?.rooms?.length}}</td>
              <td class="price" style="white-space: nowrap;">
                <a (click)="openBindingModal(booking.price)" class="tip" data-toggle="tooltip" data-placement="top" title="">{{booking?.price?.net.toFixed(2)}} {{booking?.price?.currency}}</a>
              </td>
              <td class="text-right" style="white-space: nowrap;">
                <p class="detail">
                  <a i18n="@@detail" (click)="openDetailModal(booking)">Detail</a>
                </p>
                <p class="cancel">
                  <a *ngIf="booking.status.toLowerCase() !== 'cancelled'" i18n="@@cancel" (click)="onCancel(booking)">Cancel</a>
                </p>
                <button *ngIf="booking.showMoreOptions" class="btn btn-sm btn-info smy" (click)="showRequest(booking)">RQ</button>
                <button *ngIf="booking.showMoreOptions" class="btn btn-sm btn-info smy ml-10 mt-10" (click)="showResponse(booking)">RS</button>
              </td>
            </tr>
            <tr *ngFor="let error of booking['errors']">
              <td [colSpan]="calcWidth()">
                <b2b-simple-alert *ngFor="let error of booking['errors']" [title]="'Error (' + error.type + ') ' + error.code" [type]="'error'"
                  [message]="error.description"></b2b-simple-alert>
              </td>
            </tr>
            <tr *ngFor="let waring of booking['warnings']">
              <td [colSpan]="calcWidth()">
                <b2b-simple-alert *ngFor="let warning of booking['warnings']" [title]="'Warning (' + warning.type + ') ' + warning.code"
                  [type]="'warning'" [message]="warning.description"></b2b-simple-alert>
              </td>
            </tr>
            <tr>
              <td class="noHover">
                <b2b-simple-alert *ngIf="booking.cancelImport" [title]="'Cancel import'" [type]="'info'" [message]="' ' + booking.cancelImport"></b2b-simple-alert>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- .mo-my-bookings -->
  </div>
</div>
<div class="row">
  <ng-container *ngIf="bookings && bookings.length === 0">
    <div class="mo-no-results">
      <p i18n="@@no-results">It seems we have no results for this request.</p>
    </div>
  </ng-container>
</div>
