<div class="aux-bg">
  <header [ngClass]="{'imper-yellow': emailImper}">
    <div class="ui three column stackable grid header-menu">
      <div class="column logo">
        <a [routerLink]="['/home']"><img src="https://www.travelgatex.com/assets/img/logo_travelgatex_claim_white.svg" alt="TravelgateX"/></a>
      </div>
      <div class="column">
        <ng-container>
          <div class="imper-warning" *ngIf="emailImper">
            <p>
              Take care you are impersonation <strong>{{ emailImper }}</strong>
            </p>
          </div>
        </ng-container>
      </div>
      <div class="column log">
        <div class="slack">
          <a _ngcontent-c0="" href="https://slack.travelgatex.com" target="blank"><img _ngcontent-c0="" src="https://slack.travelgatex.com/badge.svg"/></a>
        </div>
        <b2b-lang-select [class]="'lang-platform'"></b2b-lang-select>
        <div class="mo-myaccount-header dropdown">
          <a class="dropdown-toggle" href="javascript: void(0);" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ profile?.picture }}" alt="" class="rounded-circle" />
          </a>

          <div class="drop-down dropdown-menu" aria-labelledby="dropdownProfile">
            <div class="profile">
              <img src="{{ profile?.picture }}" alt="" class="rounded-circle" />
              <p>Welcome<br />{{ profile?.name }}</p>
            </div>
            <div class="imper" *ngIf="hasImpersonation">
              <a href="javascript:void(0)" class="imper-link-on" (click)="onImper()" *ngIf="!emailImper">Impersonation</a>
              <a href="javascript:void(0)" class="imper-link-off" (click)="offImper()" *ngIf="emailImper">Disconnect impersonation</a>
            </div>
            <ul>
              <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
              <li><a [routerLink]="['/platform/search-bookings']" [routerLinkActive]="['active']">Search</a></li>
              <li><a [routerLink]="['/platform/my-bookings']" [routerLinkActive]="['active']">My bookings</a></li>
              <li class="lang-drop"><b2b-lang-select [class]="'lang-platform'"></b2b-lang-select></li>
              <li><a class="log-out" (click)="authService.logout()">Log out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <ng-content></ng-content>
</div>
