<div class="modal-smy booking">
  <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="summary">
    <div class="media">
      <img class="d-flex rounded-circle mr-3" src="http://cdn.roomdi.com/wsimgresize/resize/crop/55/55/cdn.roomdi.com/contenidosShared/fotos/agregadorHotelero/fotos_hotelv4/1/355/7.jpg?f=1612252115"
        alt="">
      <div class="media-body">
        <h6 class="hotelname">{{hotelInfo?.hotelName}}
          <!-- <b2b-star [max]="5" [filled]="hotelInfo?.categoryCode"></b2b-star> -->
        </h6>
        <p class="country">{{hotelInfo?.location?.city}}, {{hotelInfo?.location?.country}}</p>
        <p class="compo">From {{criteria.checkIn | dateFormat:environment.organization.dateFormat}} to {{criteria.checkOut | dateFormat:environment.organization.dateFormat}},
          {{roomsSearch?.roomsNum}}
          <span i18n="@@room-search-plural">{roomsSearch?.roomsNum, plural, =0 {rooms} =1 {room} other {rooms}}</span>, {{roomsSearch?.adultsNum}}
          <span i18n="@@adult-search-plural">{roomsSearch?.adultsNum, plural, =0 {adults} =1 {adult} other {adults}}</span>
          <span i18n="@@and">and</span> {{roomsSearch?.childsNum}}
          <span i18n="@@child-search-plural">{roomsSearch?.childsNum, plural, =0 {children} =1 {child} other {children}}</span>
        </p>
      </div>
      <div class="hotelcode float-right ml-3">
        <p i18n="@@hotel-code">Hotel code</p>
        <p>#{{hotelInfo?.hotelCode}}</p>
      </div>
    </div>
  </div>
  <div>
    <div class="cancellation">
      <div class="row">
        <div class="col-md-3 offset-md-9">
          <button class="btn btn-sm btn-info smy" (click)="showRequest()" i18n="@@show-request">Show RQ</button>
          <button class="btn btn-sm btn-info smy ml-10" (click)="showResponse()" i18n="@@show-response">Show RS</button>
        </div>
      </div>
    </div>
    <div class="cancellation" *ngIf="quote.remarks">
      <div class="row">
        <div class="col-md-12">
          <h3 class="tit" i18n="@@remarks">Remarks</h3>
        </div>
      </div>

      <p class="desc" [innerHTML]="quote.remarks"></p>
    </div>
    <div class="cancellation">
      <div class="row">
        <div class="col-md-12">
          <h3 class="tit" i18n="@@price">Price</h3>
        </div>
      </div>

      <table class="tb-cancel-penalties table table-hover">

        <thead>
          <tr>
            <th i18n="@@total-price">Total price</th>
            <th i18n="@@commission">Commission</th>
            <th i18n="@@commission-percentage">Commission Percentage</th>
            <th i18n="@@mandatory">Mandatory</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{option.price.gross}} {{option.price.currency}}</td>
            <td>{{option.price.gross - option.price.net | number : '1.2-2'}} {{option.price.currency}}</td>
            <td>{{((option.price.gross - option.price.net) * 100) / option.price.gross | number : '1.2-2'}}%</td>
            <td>{{option.price.binding}}</td>

        </tbody>

      </table>
    </div>
  </div>

  <div class="cancellation">
    <h3 class="tit" i18n="@@cancellation-policies">Cancellation polices</h3>
    <h6 class="subtit" i18n="@@cancellation-rules">Cancellation rules</h6>
    <table class="tb-cancellation table table-hover" *ngIf="quote?.cancelPolicy?.cancelPenalties">
      <thead>
        <tr>
          <th i18n="@@penalty-type">Penalty type</th>
          <th i18n="@@total-price">Total price</th>
          <th i18n="@@hours-before">Hours before</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let policy of quote.cancelPolicy.cancelPenalties">
          <td>{{policy.penaltyType.toUpperCase() === 'IMPORT' ? "Amount" : policy.penaltyType}}</td>
          <td>
            <a class="tip" data-toggle="tooltip" data-placement="top" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua">{{policy.value | number : '1.2-2'}} {{policy.currency}}</a>
          </td>
          <!-- <td>{{formatHoursToDaysHours(policy.hoursBefore)}}</td> -->
          <td>{{policy.hoursBefore}}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="quote?.cancelPolicy?.refundable && !quote?.cancelPolicy?.cancelPenalties; else noRefundable">
      <p class="desc" i18n="@@no-cancellation-policies">Seems there are no cancellation policies.</p>
      <p class="desc">This option is
        <b>refundable</b>
      </p>
    </div>

    <ng-template #noRefundable>
      <p class="desc">This option is
        <b>non refundable</b>
      </p>
    </ng-template>




  </div>
  <div class="booking">
    <h3 class="tit" i18n="@@booking-details">Booking details</h3>
    <form class="fm-smy" [formGroup]="book">
      <div class="form-group row">
        <label class="col-2 col-form-label">
          <span i18n="@@client-reference">Client reference</span>:</label>
        <div class="col-4">
          <input class="form-control" [ngClass]="{'is-invalid': book['controls'].clientReference.touched && book['controls'].clientReference.errors}"
            type="text" placeholder="Ex: #FDSFDS2424" i18n-placeholder="@@client-example" name="name" formControlName="clientReference">
          <div *ngIf="book['controls'].clientReference.touched && book['controls'].clientReference.errors" class="invalid-feedback"
            i18n="@@invalid-client-reference">
            Please provide a valid client reference.
          </div>
        </div>
      </div>

      <div class="form-group row" formGroupName="holder">
        <label class="col-2 col-form-label" i18n="@@holder">Holder</label>
        <div class="col-4">
          <input class="form-control" [ngClass]="{'is-invalid': book.get('holder').get('name').touched && book.get('holder').get('name').errors}"
            type="text" placeholder="Name" i18n-placeholder="@@name" name="name" formControlName="name">
          <div *ngIf="book.get('holder').get('name').touched && book.get('holder').get('name').errors" class="invalid-feedback" i18n="@@invalid-name">
            Please provide a valid name.
          </div>

          <input class="form-control" [ngClass]="{'is-invalid': book.get('holder').get('surname').touched && book.get('holder').get('surname').errors}"
            type="text" placeholder="Surname" i18n-placeholder="@@surname" name="surname" formControlName="surname">
          <div *ngIf="book.get('holder').get('surname').touched && book.get('holder').get('surname').errors" class="invalid-feedback"
            i18n="@@invalid-surname">
            Please provide a valid surname.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label" i18n="@@remarks">Remarks</label>
        <div class="col-10">
          <textarea class="form-control" type="text" placeholder="" name="remarks" formControlName="remarks"></textarea>
        </div>
      </div>

      <div formArrayName="rooms" class="room-item" *ngFor="let room of book['controls'].rooms['controls']; let i = index">
        <h6 class="subtit">
          <span i18n="@@room">Room</span> #{{i + 1}} -
          <span i18n="@@distribution">Distribution</span>
        </h6>
        <div [formGroupName]="i" class="form-group row" *ngIf="resetCountPaxes()">
          <ng-container *ngFor="let pax of room.controls; let j = index">
            <label class="col-2 col-form-label" *ngIf="isChild(pax)">
              <span i18n="@@valuation-child">Child</span> {{childrenCount}}:
            </label>
            <label class="col-2 col-form-label" *ngIf="isAdult(pax)">
              <span i18n="@@valuation-adult">Adult</span> {{adultCount}}:
            </label>
            <div [formGroupName]="j" class="col-4">
              <input class="form-control" [ngClass]="{'is-invalid': pax.get('name').touched && pax.get('name').errors}" type="text" placeholder="Name"
                formControlName="name">
              <div *ngIf="pax.get('name').touched && pax.get('name').errors" class="invalid-feedback" i18n="@@invalid-name">
                Please provide a valid name.
              </div>
              <input class="form-control" [ngClass]="{'is-invalid': pax.get('surname').touched && pax.get('surname').errors}" type="text"
                placeholder="Surname" formControlName="surname">
              <div *ngIf="pax.get('surname').touched && pax.get('surname').errors" class="invalid-feedback" i18n="@@invalid-surname">
                Please provide a valid surname.
              </div>
              <input class="form-control" [ngClass]="{'is-invalid': pax.get('age').touched && pax.get('age').errors}" type="number" placeholder="Age"
                formControlName="age">
              <div *ngIf="pax.get('age').touched && pax.get('age').errors" class="invalid-feedback" i18n="@@invalid-age">
                Please provide a valid age.
              </div>
            </div>
          </ng-container>
        </div>
      </div>

    </form>
  </div>
  <div class="submit">

    <a class="btn btn-secondary smy btn-lg disabled" *ngIf="!book.valid; else search" i18n="@@book">Book</a>
    <ng-template #search>
      <a class="btn btn-secondary smy btn-lg" (click)="onBook()" i18n="@@book">Book</a>
    </ng-template>

    <!-- <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laboriosam quasi impedit ullam temporibus nam quam.</p> -->
  </div>
</div>
