<footer class="mo-footer">
  <div class="container">
    <!-- <div class="col-sm-12 ul-footer">
      <ul class="text-center list-inline">
        <li class="list-inline-item"><a appScroll [height]="75" class="smooth-scroll" href="#about-us" i18n="@@about">About us</a></li>
        <li class="list-inline-item"><a appScroll class="smooth-scroll" href="#our-products" i18n="@@our-products">Our Products</a></li>
        <li class="list-inline-item"><a href="http://docs.travelgatex.com/hotelx/quickstart/" target="_blank" i18n="@@xml-api">travelgateX's API</a></li>
        <li class="list-inline-item"><a href="mailto:info@xmltravelgate.com?subject=Contact%20from%20web" target="_top" i18n="@@contact-us">Contact us</a></li>
      </ul>
    </div> -->
    <div class="col-sm-12">
      <!--<p class="text-center">Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        Fusce condimentum nunc ac nisi vulputate fringilla.</p>-->
    </div>
    <div class="col-sm-12 social-media">
      <ul class="text-center list-inline">
        <!--<li class="list-inline-item"><a href="#"><img src="assets/img/ico-twitter.svg" alt="Twitter"></a></li>-->
        <li class="list-inline-item" *ngIf="environment.organization.linkedin"><a [href]="environment.organization.linkedin" target="_blank"><img src="assets/img/ico-linkedin.svg" alt="Linkedin"></a></li>
        <!--<li class="list-inline-item"><a href="#"><img src="assets/img/ico-facebook.svg" alt="Facebook"></a></li>-->
      </ul>
    </div>
    <div class="col-sm-12">
      <p class="text-center" i18n="@@copyright">Copyright © 2018 Travelgatex. All rights reserved.</p>
      <p class="text-center" i18n="@@terms-conditions">Terms & Conditions</p>
    </div>
  </div>
</footer>
