<div #mo_main_search_element class="mo-main-search" [ngClass]="{'bordered': bordered}">
  <form #form="ngForm" class="fm-smy">
    <div class="row" [hidden]="configInputsHidden">
      <div class="col-md-4">
        <b2b-client-selector></b2b-client-selector>
      </div>
      <div class="col-md-8">
        <b2b-supplier-accesses (accessesToSearchOutput)="saveAccessesToSearch($event)"></b2b-supplier-accesses>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label i18n="@@destination">Destination:</label>

          <tag-input name="auto" (onAdd)="onAdd($event)" [maxItems]="maxItems" [theme]="'bootstrap'" [(ngModel)]="criteria.items" [placeholder]="'Hotel or Destination'"
            [secondaryPlaceholder]="'...'" [onTextChangeDebounce]="500" [onlyFromAutocomplete]="true" [disable]="!accessesToSearch || accessesToSearch.length === 0 || !client"
            [class]="getDisabled((accessesToSearch && accessesToSearch.length !== 0 && client), 'autocompleter')" [clearOnBlur]="true"
            #searcher>

            <ng-template let-item="item" let-index="index">
              <span (click)="onRemoveItem(item, index)" class="ng2-tag__remove-button">x</span>
              <span *ngIf="item.destination">[D] - {{item.display}} - ({{item.value}})</span>
              <span *ngIf="!item.destination">[H] - {{item.display}} - [hotel in {{item.location.city}} - ({{item.location.country}}) - ({{item.value}})]</span>
            </ng-template>

            <tag-input-dropdown [dynamicUpdate]="false" [offset]="getDropdownOffset(mo_main_search_element.getBoundingClientRect()) || '44 6'"
              [minimumTextLength]="3" [autocompleteObservable]="requestAutocompleteItems" [appendToBody]="true">
              <ng-template let-item="item" let-index="index">
                <span *ngIf="item.destination">[D] - {{item.display}} - ({{item.value}})</span>
                <span *ngIf="!item.destination">[H] - {{item.display}} - [hotel in {{item.location.city}} - ({{item.location.country}}) - ({{item.value}})]</span>
              </ng-template>
            </tag-input-dropdown>
          </tag-input>

        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label i18n="@@destination" (click)="test()">Destination:</label>
          <b2b-search-global [itemData]="{items: availabilities, grouping: true, groupBy: 'destination', identifyBy:'value', groupConfig:groupConfig}"
            [config]="{onadd:['clear','close'], onblur:'clear', onfocus:'search'}" [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"
            (keyUpEvent)="autocompleteObservable($event)" (criteriaItems)="setCriteriaItems($event)"></b2b-search-global>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label i18n="@@date-from">Date from:</label>
          <input style="background-color: white;" class="form-control" placeholder="YYYY-MM-DD" [minDate]="now" name="startDate" [(ngModel)]="criteria.checkIn"
            ngbDatepicker #sToggle="ngbDatepicker" (click)="sToggle.toggle(); eToggle.close();$event.stopPropagation()" (close)="eToggle.open()"
            (ngModelChange)="onChange(sToggle, eToggle)" (document:click)="decideIfClose($event, sToggle)" [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"
            readonly>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label i18n="@@date-to">Date to:</label>
          <div class="input-group">
            <input style="background-color: white;" class="form-control" placeholder="YYYY-MM-DD" [minDate]="minDateTo" name="endDate"
              [(ngModel)]="criteria.checkOut" ngbDatepicker #eToggle="ngbDatepicker" (click)="eToggle.toggle(); sToggle.close();$event.stopPropagation()"
              (document:click)="decideIfClose($event, eToggle)" [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"
              readonly>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <b2b-market-selector [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"></b2b-market-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <b2b-language-selector [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"></b2b-language-selector>
      </div>

      <div class="col-md-4">
        <b2b-currency-selector [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client"></b2b-currency-selector>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label i18n="@@nationality">Nationality:</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="criteria.nationality" marketMatch [ngbTypeahead]="marketsFilter" name="nationality"
              [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client" [inputFormatter]="countryInputFormatter"
              [resultFormatter]="countryResultFormatter" placeholder="Select Nationality" i18n-placeholder="@@nationality-placeholder"
            />
          </div>
        </div>
      </div>
    </div>

    <ng-template ngFor let-room [ngForOf]="criteria.rooms" let-i="index">
      <h5 class="tit-rooms clearfix">
        <span i18n="@@room">Room</span> {{i+1}}
        <p *ngIf="criteria.rooms.length === (i+1) && criteria.rooms.length !== 1" class="addroom float-right" (click)="removeRoom()">
          <a href="javascript:void(0);">
            <span class="fa fa-close"></span>
          </a>
        </p>
        <p *ngIf="i === 0" class="addroom float-right" (click)="addRoom()">
          <a href="javascript:void(0);" i18n="@@add-room">Add another room</a>
        </p>
      </h5>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label>
              <span i18n="@@paxes">Paxes</span> ...</label>
            <select class="form-control" [(ngModel)]="room.paxes.length" (change)="setPaxes(room)" [ngModelOptions]="{standalone: true}"
              [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client">
              <option *ngFor="let pax of maxNumPaxes" [value]="pax">{{pax}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-lg-3" *ngFor="let pax of room.paxes; let i = index">
          <div class="form-group">
            <label>
              <span i18n="@@age">Age</span> (Pax {{i+1}})</label>
            <input name="num" class="form-control" [(ngModel)]="pax.age" [ngModelOptions]="{standalone: true}" type="number" min="1"
              max="100" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [disabled]="!accessesToSearch || accessesToSearch.length === 0 || !client">
          </div>
        </div>
      </div>
    </ng-template>

    <div class="row">
      <div class="col-12">
        <div class="submit">
          <p class="float-right">
            <a class="btn btn-primary smy disabled" *ngIf="(!form.valid || !criteria.checkIn || !criteria.checkOut || !criteria.items?.length || !criteria.market || !criteria.currency || !criteria.language); else search"
              i18n="@@search">Search</a>
            <ng-template #search>
              <a class="btn btn-primary smy" (click)="onSearch()" i18n="@@search">Search</a>
            </ng-template>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
