<div style="width: 100%" (document:click)="decideClosure($event)" class="dropdown-root">
  <div style="background: white; width: 100%">
    <div *ngFor="let item of selectedItems; let i = index" class="selected-item" [ngClass]="{'tb-removed': item.toBeRemoved}">
      <span class="mr-2" (click)="removeItem(i)">
        <i class="fa fa-times"></i>
      </span>
      <span *ngIf="item.destination; else hotel">{{item.display}} - ({{item.value}})</span>
      <ng-template #hotel><span>{{item.display}} - [hotel in {{item.location.city}} - ({{item.location.country}}) - ({{item.value}})]</span></ng-template>

    </div>

    <input type="text" id="inputSearch" [(ngModel)]="searchValue" #inputSearch (keyup)="onKeyupFilter(inputSearch.value, $event)" (keydown)="selectActionByKey($event)"
      class="form-control w-100" placeholder="..." [disabled]="!items">
  </div>
  <div style="background: white; width: 100%;">
    <div #dropdownElem class="custom-dropdown hidden" [@dropdown]="hiddenDropdown">
      <div class="dropdown-item tit pb-1">
        <div class="media d-flex align-items-center pb-2">
          <div class="media-left d-flex align-items-center">
            <span class="seller-ico-bg-color"></span>
          </div>
          <div class="media-body">
            <p class="font-weight-bold ml-1 mb-0">Hotels</p>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let hotel of hotels">
        <span (click)="addItem(hotel)" (keydown)="addItem(hotel)" [ngClass]="{'focused': hotel.focused}" class="dropdown-item d-flex custom-dropdown-item">{{hotel.display}} - [hotel in {{hotel.location.city}} - ({{hotel.location.country}}) - ({{hotel.value}})]</span>
      </ng-container>
      <span class="dropdown-item d-flex ml-auto text-help" *ngIf="hotels?.length === 0">No results</span>
      <div class="dropdown-item tit pb-1">
        <div class="media d-flex align-items-center pb-2">
          <div class="media-left d-flex align-items-center">
            <span class="buyer-ico-bg-color"></span>
          </div>
          <div class="media-body">
            <p class="font-weight-bold ml-1 mb-0">Destinations</p>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let destination of destinations">
        <span (click)="addItem(destination)" [ngClass]="{'focused': destination.focused}" class="dropdown-item d-flex custom-dropdown-item">{{destination.display}} - ({{destination.value}})</span>
      </ng-container>
      <span class="dropdown-item d-flex ml-auto text-help" *ngIf="destinations?.length === 0">No results</span>
    </div>
  </div>
</div>
