<div  (document:click)="decideClosure($event)" class="dropdown-root">
  <div [ngClass]="{'white-background' : !disabled}">
    <div *ngFor="let item of selectedItems; let i = index" class="selected-item" [ngClass]="{'tb-removed': item.toBeRemoved}">
      <span class="mr-2" (click)="removeItem(i)">
        <i class="fa fa-times"></i>
      </span>
      <span *ngIf="item.destination; else hotel">{{item.disp}}</span>
      <ng-template #hotel><span>{{item.disp}}</span></ng-template>
    </div>
    <input type="text" id="inputSearch" [(ngModel)]="searchValue" #inputSearch (keyup)="onKeyupFilter(inputSearch.value, $event)"
      (keydown)="selectActionByKey($event)" class="form-control w-100" placeholder="..." [disabled]="!itemData || disabled">
  </div>
  <div class="white-background">
    <div #dropdownElem class="custom-dropdown hidden" [@dropdown]="hiddenDropdown">
      <div *ngFor="let collection of collections">
        <div class="dropdown-item tit pb-1">
          <div class="media d-flex align-items-center pb-2">
            <div class="media-left d-flex align-items-center">
              <span class="seller-ico-bg-color"></span>
            </div>
            <div class="media-body">
              <p class="font-weight-bold ml-1 mb-0">{{collection.title}}</p>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let item of collection.list">
          <span (click)="addItem(item)" (keydown)="addItem(item)" [ngClass]="{'focused': item.focused}" class="dropdown-item d-flex custom-dropdown-item">{{item.disp}}</span>
        </ng-container>
        <span class="dropdown-item d-flex ml-auto text-help" *ngIf="collection.list?.length === 0">No results</span>
      </div>
    </div>
  </div>
</div>
