<div class="not-found" style="background-image: url('assets/img/mainpage.jpg')">
  <div class="overlay"></div>

  <div class="content">

    <img class="img-responsive" src="assets/img/logo-smy.svg">

    <h3 class="tit text-center" i18n="@@404-title">Something is wrong</h3>
    <p class="subtit text-center" i18n="@@404-subtitle">The page you are looking for was moved, removed, renamed or might never existed.</p>

    <div class="links">
      <a class="btn btn-primary" [routerLink]="['/home']" i18n="@@home">Home</a>
    </div>
  </div>
</div>
